.navbar-navbar {
  width: 100%;
  height: 101px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.navbar-navbar-interactive {
  width: 1284px;
  height: 94px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 13px;
  justify-content: space-between;
}
.navbar-image {
  width: auto;
  height: 89px;
  object-fit: cover;
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-navlink {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-navlink1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55;
  margin-left: 32px;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-navlink2 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55;
  margin-left: 32px;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-text {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55;
  margin-left: 32px;
  text-transform: capitalize;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon {
  width: 16px;
  height: 16px;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.navbar-logo {
  height: 2rem;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: 16px;
  height: 16px;
}
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.navbar-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.navbar-icon08 {
  width: 16px;
  height: 16px;
}



@media(max-width: 991px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon {
    width: 50px;
    height: 50px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}

.contact-autres-contact {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.contact-autres-container {
  width: 220px;
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.contact-autres-social-links-container {
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.contact-autres-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-autres-link {
  display: contents;
}
.contact-autres-icon02 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.contact-autres-link1 {
  display: contents;
}
.contact-autres-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.contact-autres-link2 {
  display: contents;
}
.contact-autres-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.contact-autres-link3 {
  display: contents;
}
.contact-autres-icon08 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}

@media(max-width: 767px) {
  .contact-autres-contact {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .contact-autres-contact {
    align-items: center;
    padding-right: 0px;
  }
  .contact-autres-social-links-container {
    align-self: center;
  }
}

.page1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page1-text {
  margin-top: var(--dl-space-space-tripleunit);
}
.page1-container1 {
  width: 100%;
  height: 734px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.page1-container2 {
  flex: 0 0 auto;
  width: 551px;
  height: 264px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.page1-container3 {
  flex: 0 0 auto;
  width: 308px;
  height: 324px;
  display: flex;
  align-items: flex-end;
  margin-right: 44px;
  flex-direction: column;
  justify-content: flex-start;
}
.page1-image {
  width: 274px;
  height: 100%;
  object-fit: cover;
}
.page1-matches {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page1-serie-2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.page1-titre-et-text {
  flex: 1;
  width: 100%;
  height: 317px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.page1-video {
  flex: 0 0 auto;
  width: 510px;
  height: 351px;
  display: flex;
  align-items: center;
  padding-right: 1px;
  justify-content: center;
}
.page1-iframe {
  width: 500px;
  height: 282px;
}
.page1-serie-3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.page1-titre-et-text1 {
  flex: 1;
  width: 100%;
  height: 317px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.page1-video1 {
  flex: 0 0 auto;
  width: 510px;
  height: 351px;
  display: flex;
  align-items: center;
  padding-right: 1px;
  justify-content: center;
}
.page1-iframe1 {
  width: 500px;
  height: 282px;
}
@media(max-width: 991px) {
  .page1-container1 {
    width: 100%;
    align-items: center;
    margin-bottom: 36px;
    flex-direction: row;
    justify-content: space-between;
  }
  .page1-container2 {
    width: 450px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page1-container3 {
    width: 379px;
    height: 410px;
    align-self: center;
  }
  .page1-image {
    width: 368px;
    height: 100%;
    align-self: flex-end;
    margin-right: 6px;
  }
  .page1-iframe {
    width: 439px;
    height: 270px;
  }
  .page1-iframe1 {
    width: 439px;
    height: 270px;
  }
}
@media(max-width: 767px) {
  .page1-text {
    text-align: center;
  }
  .page1-container1 {
    flex-direction: column;
  }
  .page1-container2 {
    width: auto;
    margin-left: var(--dl-space-space-unit);
  }
  .page1-serie-2 {
    padding-left: 0px;
    flex-direction: column;
  }
  .page1-titre-et-text {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .page1-video {
    width: 100%;
    height: 346px;
    position: relative;
    align-items: center;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .page1-iframe {
    width: 470px;
    height: 260px;
  }
  .page1-serie-3 {
    padding-left: 0px;
    flex-direction: column;
  }
  .page1-titre-et-text1 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .page1-video1 {
    width: 100%;
    height: 346px;
    position: relative;
    align-items: center;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .page1-iframe1 {
    width: 470px;
    height: 282px;
  }
}
@media(max-width: 479px) {
  .page1-container1 {
    flex-direction: column;
  }
  .page1-container2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .page1-video {
    width: 100%;
    padding: var(--dl-space-space-unit);
    position: 0px;
    flex-direction: row;
    justify-content: center;
  }
  .page1-iframe {
    width: 380px;
    height: 210px;
  }
  .page1-video1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
    position: 0px;
    flex-direction: row;
    justify-content: center;
  }
  .page1-iframe1 {
    width: 380px;
    height: 210px;
  }
}
