<div>
  <link href="./nos-partenaires.css" rel="stylesheet" />
  <div id="partenaires" class="nos-partenaires-nos-partenaires">
    <div class="nos-partenaires-heading-container">
      <h2 class="nos-partenaires-text Section-Heading">
        <span>Nos partenaires</span>
      </h2>
      <span class="nos-partenaires-text1">
        <span>
          Nous remercions nos partenaires pour leur soutien à nos projets
        </span>
      </span>
    </div>
    <div class="nos-partenaires-cards-container">
      <div class="nos-partenaires-feature-card">
        <img
          alt="image"
          src="public/logo_isae-ensma.svg-800w.png"
          class="nos-partenaires-image"
        />
        <span class="nos-partenaires-heading Card-Heading">
          <span>ISAE-ENSMA</span>
        </span>
      </div>
    </div>
  </div>
</div>
