<div>
  <link href="./participations-cdr1.css" rel="stylesheet" />
  <div id="ParticipationsCDR" class="participations-cdr1-participations-cdr">
    <div class="participations-cdr1-container">
      <h2 class="participations-cdr1-text">
        <span class="Section-Heading">Participations</span>
        <br />
        <span>Coupe de France de Robotique</span>
        <br />
      </h2>
    </div>
    <div class="participations-cdr1-service-card">
      <div class="participations-cdr1-card-content">
        <img
          alt="image"
          src="public/shooting%201-300h.png"
          class="participations-cdr1-image"
        />
        <a href="page.html" class="participations-cdr1-navlink button Anchor">
          <span>2023</span>
        </a>
      </div>
    </div>
    <div class="participations-cdr1-service-card1">
      <div class="participations-cdr1-card-content1">
        <img
          alt="image"
          src="public/render%20robot%202022-300h.png"
          class="participations-cdr1-image1"
        />
        <a href="page1.html" class="participations-cdr1-navlink1 button">
          <span>
            <span class="Anchor participations-cdr1-text6">2022</span>
            <br />
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
